%h1 Recipe Assistant
%br
%div{:class => "all_recipes"}
	- @recipes.each do |recipe|
		= render 'shared/recipe', :recipe => recipe
%br
= link_to image_tag("add.jpg", :class => "add_button"), new_path, method: :get