// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
	//background: #d9eef9;
	background: #f2f5f7;
	min-height: 100%;
	text-align: center;
	font-family: Athelas;
}

h1 {
	text-align: center;
	font-family: Calibri;
	color: #2f2f30;
	font-size: 50px;
}

.open_nav {
	float: left;
	color: white;
	font-size: 32px;
	margin-left: 5px;
}

.open_nav:hover {
	cursor: pointer;
}

.nav_header {
	position: fixed;
	width: 100%;
	height: 45px;
	margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
    background-color: #229aad;
    top: 0;
    left: 0;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .15);
    z-index: 20;
}

.icon {
	width: 35%;
}

// INDEX PAGE
.all_recipes {
	width: 60%;
	margin: auto;
	padding: 10px;
}

.dish {
	box-shadow: 0 1px 4px rgba(0, 0, 0, .1);
	background: #f9fbfc;
	padding: 20px;
	border-bottom: 1px solid #b5b6b7;
	display: flex;
}

.dish:hover {
	background: #efefef;
}

.recipe_image {
	margin: auto;
	width: 100%;
}

.recipe_image_generic {
	margin: auto;
	width: 80%;
	padding-left: 9%;
}

.image_box {
	width: 15%;
}

.name_box {
	width: 40%;
	margin: auto;
	font-size: 25px;
	font-family: Calibri;
	padding-left: 20px;
}

.ingredients_box, .directions_box {
	width: 15%;
	margin: auto;
}

a {
	text-decoration: none;
	color: #39393a;
}

a:hover {
	color: #b3b3b7;
	
}

.add_button {
	//width: 4%;
	height: 35px;
	float: right;
	//padding-right: 21%;
	padding-right: 20%;
}


// INDIVIDUAL RECIPE PAGES
.pages {
	width: 65%;
	display: inline-block;
	background: white;
	padding: 2%;
	//min-height: 100%;
	position: relative;
}

.food_wrap {
	display: flex;
	padding-bottom: 30px;
	border-bottom: 1px solid #b5b6b7;
}

.recipe_page_images {
	width: 40%;
	margin-left: 5%;
}

.recipe_page_image, .recipe_page_gen {
	width: 100%;
}

.h2 {
	font-size: 30px;
}

.recipe_page_ingredients {
	width: 50%;
	margin-left: 10%;
	text-align: center;
}

.list {
	font-size: 18px;
	margin: 0 auto;
	text-align: left;
	line-height: 140%;
	display: table;
}

.recipe_page_directions {
	text-align: center;
	margin: 0 auto;
	width: 78%;
}


// INDIVIDUAL INGREDIENTS/DIRECTIONS PAGES
.ingredients_images, .directions_images {
	margin: 0 auto;
	width: 50%;
	padding-top: 4%;
}

.ing_image, .dir_image {
	width: 100%;
}

.indiv_pages_header {
	text-align: center;
}

.list_ing, .list_dir {
	font-size: 18px;
	margin: 0 auto;
	line-height: 140%;
	text-align: left;
	display: table;
}

.back_div {
	height: 55px;
	position: absolute;
	bottom: 0;
	border-top: 1px solid #e5e7e8;
	width: 94%;
}

.back {
	padding: 0px 10px 0px 10px;
	margin: auto;
	width: 100%;
}

.back img {
	width: 100%;
	height: 55px;
}


// NEW PAGES
.form_new {
	width: 70%;
	margin: auto;
}

.new_div {
	display: flex;
}

.new_label {
	margin: auto;
	padding-right: 20px;
}

.new_input {
	float: left;
	margin: auto;
}

.upload_link {
	height: 25px;
	float: right;
	margin-right: 10px;
}

.upload_link:hover {
	cursor: pointer;
}

.upload_label {
	float: right;
	margin-right: 8px;
	margin-top: 10px;
	font-size: 11px;
	font-style: italic;
	color: #828282
}

// MISC.
input[type=text] {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 75%;
    height: 15px;
    border-radius: 3px;
    border: 1px solid #b5cde5;
    transition: 0.5s;
    font-size: 16px;
}

input[type=submit] {
	float: right;
	padding: 5px 30px 5px 30px;
	margin-right: 10px;
	font-family: Calibri;
	border: 1px solid #eff1f2;
	background: #376975;
	font-size: 16px;
	color: #eff1f2
}

input[type=submit]:hover {
	cursor: pointer;
	background: #60a2b2;
}

textarea { 
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 75%;
    height: 90px;
    border-radius: 3px;
    border: 1px solid #b5cde5;
    transition: 0.5s;
    font-size: 16px;
}

textarea:focus, input[type=text]:focus {
    height: 150px;
    border: 1px solid #5398DD;
    outline: none;
    font-size: 18px;
}

input[type=text]:focus {
	height: 20px;
}

input[type=text].search_bar {
	width: 15%;
	margin-left: 43%;
	border: 2px solid #b5cde5;
}


// Responsiveness for smaller screens
@media only screen and (max-width:900px) {
    .all_recipes {
        width: 100%;
        padding: 0px;
    }
    .image_box {
    	width: 25%;
    }
    .name_box {
    	width: 40%;
    	font-size: 30px;
    	padding-left: 10px;
    }
    .ingredients_box, .directions_box {
    	width: 10%;
    	font-size: 10px;
    }
    .add_button {
    	//width: 15%;
    	height: 40px;
    	//padding-right: 3%;
    	padding-right: 1%;
    }
    .pages {
    	width: 100%;
    	padding: 30px 0px 80px 0px;
    	height: 100%;
    }
    .food_wrap {
		display: block;
		border: none;
	}
	.recipe_page_images, .ingredients_images, .directions_images {
		width: 90%;
	}
	.recipe_page_ingredients {
		width: 80%;
		text-align: center;
	}
	.recipe_page_directions {
		text-align: center;
	}
	.list, #list_directions {
		font-size: 20px;
	}
	.secondary_header {
		border-bottom: 1px solid #b5b6b7;
	}
	.back_div {
		margin-left: 3%;
		width: 90%;
	}
	.back {
		padding-top: 10px;
		width: 100%;
	}
	.back img {
		width: 100%;
		height: 40px;
	}
	.list_ing, .list_dir {
		font-size: 20px;
	}
	.form_new {
		width: 90%;
		display: block;
	}
	.new_div {
		display: block;
	}
	label {
		display: block;
		padding-bottom: 10px;
		margin-top: 30px;
		text-align: left;
	}
	.new_input {
		width: 95%;
	}
	.upload_link {
		height: 20px;
		margin-right: 5%;
		padding: 10px;
	}
	.upload_label {
		float: right;
		margin-right: 8px;
		margin-top: 10px;
		font-size: 11px;
		font-style: italic;
		color: #828282
	}
	input[type=text] {
	    width: 95%;
	    height: 20px;
	    margin-bottom: 30px;
	}

	input[type=submit] {
		padding: 10px 35px 10px 35px;
		margin-right: 7%;
		border: 1px solid #eff1f2;
		clear: right;
	}
	textarea { 
	    width: 100%;
	    height: 100px;
	    margin-bottom: 30px;
	}
	input[type=text].search_bar {
		width: 91%;
		margin-left: 1%;
	}
	.nav_header {
		height: 50px;
		margin: 0;
	}
	.index_page {
		padding-top: 10%;
	}
	.open_nav {
		font-size: 38px;
	}
	.icon {
		width: 70%;
	}
	.ingredients_images, .directions_images {
		padding-top: 10%;
	}
}

@media only screen and (max-width:600px) {
	.name_box {
    	font-size: 20px;
    }
}
