// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background: #d9eef9;
}

h1 {
	text-align: center;
	font-family: Calibri;
	color: #2f2f30;
	font-size: 50px;
}

.all_recipes {
	width: 60%;
	margin: auto;
	padding: 10px;
}

.dish {
	box-shadow: 0 1px 4px rgba(0, 0, 0, .1);
	background: #f9fbfc;
	padding: 20px;
	border-bottom: 1px solid #b5b6b7;
	display: flex;
}

.recipe_image {
	margin: auto;
	width: 100%;
}

.recipe_image_generic {
	margin: auto;
	width: 80%;
	padding-left: 9%;
}

.image_box {
	width: 15%;
}

.name_box {
	width: 40%;
	margin: auto;
	font-size: 25px;
	font-family: Calibri;
	padding-left: 20px;
}

.ingredients_box, .directions_box {
	width: 15%;
	margin: auto;
}

a {
	text-decoration: none;
	color: #39393a;
}

a:hover {
	color: #b3b3b7;
	
}

.add_button {
	width: 4%;
	float: right;
	padding-right: 21%;
}

@media only screen and (max-width:900px) {
    .all_recipes {
        width: 100%;
        padding: 0px;
    }
    .image_box {
    	width: 25%;
    }
    .name_box {
    	width: 40%;
    	font-size: 30px;
    	padding-left: 10px;
    }
    .ingredients_box, .directions_box {
    	width: 10%;
    	font-size: 10px;
    }
    .add_button {
    	width: 15%;
    	padding-right: 3%;
    }
}

@media only screen and (max-width:600px) {
	.name_box {
    	font-size: 20px;
    }
}
